{{>header}}
<div id="treks-list">
    <a href="#" class="card overflow-hidden treksPlaceholder trek-details" style="width: 20rem; height: 18rem;">
        <div class="card-body">
            <p class="card-text">Everest Base Camp</p>
        </div>
        <img class="card-image"
            src="https://s3.us-east-1.wasabisys.com/mts-wp-uploads/trips/trip_hero8_kha_2880x1260.jpg"
            alt="Card image cap">
    </a>
    <a href="#" class="card overflow-hidden treksPlaceholder trek-details" style="width: 20rem; height: 18rem;">
        <div class="card-body">
            <p class="card-text">Bhutan Chomolhari Trek</p>
        </div>
        <img class="card-image" src="https://www.windhorsetours.com/wp-content/uploads/2015/01/banner-snowman-1.jpg"
            alt="Card image cap">
    </a>
    <a href="#" class="card overflow-hidden treksPlaceholder trek-details" style="width: 18rem; height: 18rem;">
        <div class="card-body">
            <p class="card-text">Langtang and Gosainkund</p>
        </div>
        <img class="card-image"
            src="https://adventuresportsnepal.com/wp-content/uploads/2018/11/Langtang-Gosaikund-trekking-nepal.jpg"
            alt="Card image cap">
    </a>
</div>
{{>footer}}